In [1]:
# a set is a collection which is unordered unchangeable and unindexed,donot allow duplicate values
s={"man","women","children"}
print(type(s))

<class 'set'>

***Don't take duplicate values***

In [2]:
names={"apple","mango","apple"}
print(names)

{'mango', 'apple'}

In [4]:
s2={True,1,6,8,False,0} # take "True" and 1 as same and "False" and 0 as same
print(s2)

{8, True, 6, False}

***Set Constructor***

In [5]:
s3=set((1,4,3,6,9))
print(s3)

{1, 3, 4, 6, 9}

***Access set items***

In [6]:
# you cannot access set of items by using Indexing 
s4={"jyoti","kittu","neeta"}
print(s4[0]) #throw error

TypeError: 'set' object is not subscriptable

In [7]:
for x in s4:
    print(x)

neeta
kittu
jyoti

In [8]:
if "jytoi" in s4:
    print("yes")
else:
    print("no")

no

In [10]:
if "Jyoti" not in s4:
    print("yes")
else:
    print("no")

yes

In [12]:
s4.add("mayank")
print(s4)
print(s4.update(["mayank","mahak"])) # it is working but not printing , on print it is showing None

{'neeta', 'kittu', 'mayank', 'jyoti'}
None

In [14]:
s4.remove("neeta")
print(s4)

{'kittu', 'jyoti', 'mahak'}

In [16]:
s9={2,6,8,94,6}
s10={2,7,8}
s9.update(s10)
print(s9)

{2, 6, 7, 8, 94}

In [17]:
l1=("rose","lily","sunflower","lotus") #update set and list
s9.update(l1)
print(s9)

{2, 6, 7, 8, 'lotus', 'lily', 94, 'sunflower', 'rose'}

In [20]:
l2=[5,5,8,7,5,5,3,2,4,8]
set(l2)
print(l2)

[5, 5, 8, 7, 5, 5, 3, 2, 4, 8]