***Creating a Tuple***

In [4]:
t1=(1,4,2,6,8)
print(type(t1))
t2=("tree","plant","shrub","herbs")
print(type(t2))
t3=(1,"tree",2,"plant",3,"shrub",4,"herbs")
print(type(t3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

***Tuple Constructor***

In [5]:
t4=tuple(("dog","cat","rabbit","birds"))
print(type(t4))

<class 'tuple'>

***Tuple Length***

In [6]:
t5=(2,5,6,4,8,9)
print(len(t5))

6

In [8]:
t6=(2555,"kittu",2879,"shanu",6544,"gudiya")
print(len(t6))
t6=(222,789)
print(len(t6))

6
2

***Access Tuple Items***

In [15]:
t7=("ear","eyes","nose","skin","hands")
print(t7[0])
print(t7[4])
# negative indexing
print(t7[-1])
print(t7[-4])
print(t7[-7]) # index error

ear
hands
hands
eyes

IndexError: tuple index out of range

***Range of Indexes And Range of Negative Indexes***

In [26]:
t8=("keyboard","mouse","monitor","CPU","Speaker")
print(t8[2:5])
print(t8[2:5:2])
print(t8[2:5:-2]) # empty - cannot give negative skips/steps
print(t8[:3]) 
print(t8[2:])
print(t8[-1:-3]) # empty
print(t8[-3:-1])
print(t8[-5:-2:3])
print(t8[-5:-2:-2]) # empty - cannot give negative skips/steps

('monitor', 'CPU', 'Speaker')
('monitor', 'Speaker')
()
('keyboard', 'mouse', 'monitor')
('monitor', 'CPU', 'Speaker')
()
('monitor', 'CPU')
('keyboard',)
()

***Check if item exist in tuple or not***

In [27]:
t9=("teacher","doctor","engineer","scientist","IAS")
if "doctor" in t9: #using in
    print("yes!")
else:
    print("no")

yes!

In [28]:
if "Doctor" in t9:
    print("yes!")
else:
    print("no")

no

In [29]:
if "IAS" not in t9:
    print("yes yes!!")
else:
    print("no")

no

In [30]:
if "IaS" not in t9:
    print("yes yes!!")
else:
    print("no")

yes yes!!

***Change Tuples***

In [32]:
t10=("car","truck","bike","aeroplane","train")
t10.append("bicycle")

AttributeError: 'tuple' object has no attribute 'append'

In [36]:
print(t10[1])
t10[1]="bicycle"

truck

TypeError: 'tuple' object does not support item assignment

In [37]:
t10.insert(3,3) 
#Tuples are Unchangeable

AttributeError: 'tuple' object has no attribute 'insert'

In [40]:
#convert tuple to list make changes and then again convert that list to tuple
t11=("one","two","three","four","five")
print(type(t11))
l1=list(t11)
print(type(l1))
l1[1]=2
print(l1[1])
t11=tuple(l1)
print(type(t11))
print(t11)

<class 'tuple'>
<class 'list'>
2
<class 'tuple'>
('one', 2, 'three', 'four', 'five')